<!-- condition to determine if retrieved burger is devoured or not -->
{{#if eaten}}
	
	
	<h4 style="opacity: 0.4">{{this.dataValues.id}}.{{this.dataValues.burger_name}}</h4>
	<h4 style="opacity: 0.4">Eaten By: {{this.dataValues.customer_name}}</h4>

{{else}}
	<h4>{{this.dataValues.customer_name}}, your burger is ready!!</h4>
	<h4>{{this.dataValues.id}}.{{this.dataValues.burger_name}}</h4>

{{/if}}